div.vignette_show{  /* Regroupe le tout. Images incluses. */
	height:39px;
	height:95px;
	width:338px;
}

div.espace_vignette{  /* Espace du diaporama */
	height:39px;
	width:258px;
	overflow:hidden;
	float:left;
	position:relative;
}

div.support{  /* Contient toutes les images */
	width:auto;
	white-space:nowrap;
	position:absolute;
	left:0px;
	top:0px;
}

div.arrow{
	width:25px;
	height:20px;
	float:left;
	margin:15px 0px 0px 0px;
	padding:0px 7px 0px 8px;
	cursor:pointer;
	}



div.support ul {
	width:auto;
	height:auto;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border:none;
	
}

div.support ul li {
	display:inline;
	float:left;
	padding: 0px 0px 0px 0px;	/* Ne pas mettre de padding left ou right */
	margin: 0px 0px 0px 0px;	/* Ne pas mettre de margin left ou right */
}

div.support ul li img {
	padding: 0px 0px 0px 0px;	/* Ne pas mettre de padding left ou right */
	margin: 0px 0px 0px 0px;	/* Ne pas mettre de margin left ou right */
	border-width:0px;			/* Ne pas mettre de width */
	border-style:solid;
	border-color:#fff;
}







